<ion-view view-title="{{model.list.listName}}">
    <ion-header-bar>
        <div class="home-header-button" ng-show="model.pageLoaded">
            <i class="icon ion-plus-circled plus-button" ui-sref="app.taskCreation({listId: 1})"></i>
        </div>

    </ion-header-bar>
    <ion-content>
        <div class="page-has-header">
            <div class="pageSpinner">
                <div class="spinner">
                    <ion-spinner class="spinner"></ion-spinner>
                </div>
            </div>
            <div class="page-content">
                <div class="todo-list">
                    <div ng-repeat="timeframe in model.timeFrames">
                        <div class="todo-list-item todo-list-divider">
                            <b>{{timeframe.name}}</b>
                        </div>
                        <div ng-if="timeframe.tasks.length == 0" class="todo-list-item">
                            <i>No tasks added for this time</i>
                        </div>  
                        <div ng-repeat="task in timeframe.tasks" ui-sref="app.taskView({taskId: task.id})">

                            <div class="todo-list-item">
                                {{task.taskName}}
                                <span class="todo-item-right ">
                                    {{task.productivityPoints}}
                                    <img src="img/pp.png" style="width:16px;height:16px;"/>
                                </span>
                            </div>
                            <div class="todo-list-item sub-task" ng-repeat="subTask in task.subTasks">
                                - {{subTask.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
