<ion-view view-title="Create a task">
    <ion-content>
        <div class="page-content">
            <div class="todo-list">
                <label class="item-input item-stacked-label">
                    <span class="input-label">Task</span>
                    <input type="text" ng-model="model.newTask.taskName" placeholder="Task description">
                </label>
                <div class="todo-list-item todo-list-divider">

                </div>
                <label class="item-input item-stacked-label">
                    <span class="input-label">
                        Sub-tasks
                    </span>
                    <input type="text" ng-repeat="subTask in model.newTask.subTasks" ng-model="subTask.name" placeholder="Sub-task description">
                </label>
                <span class="item-input item-stacked-label" ng-click="addNewSubTask()">
                    <i class="icon ion-plus-circled plus-button-small"></i>
                    Add another sub-task
                </span>
                <div class="todo-list-item todo-list-divider">
                </div>
                <div class="todo-list-item">
                    <b>When?</b>
                </div>
                <div style="padding-top:5px; padding-bottom:8px;">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <span class="input-group-addon"><i style="font-size:20px;" class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" class="form-control" data-ng-model="model.newTask.completionDate">
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="model.newTask.completionDate" data-before-render="timepickerBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                        </ul>
                    </div>
                </div>
                <div class="todo-list-item todo-list-divider">
                </div>
                <label class="item-input item-stacked-label">
                    <span class="input-label">Productivity Points</span> {{model.newTask.productivityPoints}} <img src="img/pp.png" style="width:19px;height:19px;" />
                </label>
                <div class="range range-positive">
                    <img src="img/pp.png" style="width:10px;height:10px;" />
                    <input type="range" name="volume" min="0" max="100" value="{{model.newTask.productivityPoints}}" ng-model="model.newTask.productivityPoints">
                    <img src="img/pp.png" style="width:21px;height:21px;" />
                </div>
                <div class="todo-list-item todo-list-divider">
                </div>
                <div style="text-align:center;">
                    <button class="button button-large icon-right ion-ios-download pink-button" ng-click="saveTask()" ng-disabled="checkValid()">
                        SAVE
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
